*.doc  diff=astextplain
*.DOC	diff=astextplain
*.docx	diff=astextplain
*.DOCX	diff=astextplain
*.dot	diff=astextplain
*.DOT	diff=astextplain
*.pdf	diff=astextplain
*.PDF	diff=astextplain
*.rtf	diff=astextplain
*.RTF	diff=astextplain

*.jpg  	binary
*.png 	binary
*.gif 	binary

*.cs text eol=crlf diff=csharp 
*.vb text eol=crlf
*.c text eol=crlf
*.cpp text eol=crlf
*.cxx text eol=crlf
*.h text eol=crlf
*.hxx text eol=crlf
*.py text eol=crlf
*.rb text eol=crlf
*.java text eol=crlf
*.html text eol=crlf
*.htm text eol=crlf
*.css text eol=crlf
*.scss text eol=crlf
*.sass text eol=crlf
*.less text eol=crlf
*.js text eol=crlf
*.lisp text eol=crlf
*.clj text eol=crlf
*.sql text eol=crlf
*.php text eol=crlf
*.lua text eol=crlf
*.m text eol=crlf
*.asm text eol=crlf
*.erl text eol=crlf
*.fs text eol=crlf
*.fsx text eol=crlf
*.hs text eol=crlf

*.csproj text eol=crlf merge=union 
*.vbproj text eol=crlf merge=union 
*.fsproj text eol=crlf merge=union 
*.dbproj text eol=crlf merge=union 
*.sln text eol=crlf merge=union 
