<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<connectionStrings>
		<add name="SqlConnection" connectionString="Data Source=.\;Initial Catalog=Northwind;Persist Security Info=False;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
		<add name="ConnectionWithInvalidProviderName" connectionString="Data Source=.\;Initial Catalog=Northwind;Persist Security Info=False;Integrated Security=SSPI;" providerName="System.Data.FooBarClient" />
	</connectionStrings>
</configuration>